@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Noto+Sans+Thaana:wght@100..900&family=Playwrite+US+Trad+Guides&family=Science+Gothic:wght@100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";
